\\#A2EBC1
\\#464646
*{
    margin: 0;
    padding:0;
}

body{
    background: #e9e9e9;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif; 
}



.jumbotron{
   
    color: #464646;
    font-family: 'Lobster Two', cursive;
    border-radius: 0;
    background:  #A2EBC1; 
    padding: 40px 20px;
    margin:0;
}

.nav-item{
    font-size: .85em;
    }

input, label{
    margin: 10px;
}

.card-header
{
    background:#464646;
    color: white;
    width: 100%;

}

.card-body
{
    font-size: .7em;
}

#about-link{
    color:#A2EBC1;
}