*{
    margin: 0;
    padding:0;
}

a{
    color:#A2EBC1;
}
a:hover
{
    color: #A2EBC1;
}

body{
  
    font-family: 'Raleway', sans-serif; 
    font-size: 1.5em;
}

.jumbotron{
   
    color: white;
    font-family: 'Lobster Two', cursive;
    border-radius: 0;
    background: #A2EBC1; 
    color: #464646;
    font-size: 1.8em;
    padding: 40px 20px;
    margin:0;
}

.nav-item{
    font-size: .78em;
    }

.btn{
    background: #A2EBC1;
    border: solid #464646;
}

.card-header{
    background:#464646;
    color: white;    
}

.card-body{
    background: #eeeeee;
}
#contact-link{
    color:#A2EBC1;
}

#card-body-info{
    background:#464646;
    color: white;
}