*{
    margin: 0;
    padding:0;
}

body{
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif; 
}

p{
    
    margin:0;
    padding:0;
}


hr{
    height: 2px;
    margin: 0px;
    background: #A2EBC1;
}

a:hover{
    text-decoration: none;
    color:#464646;
}
a{
    color:#464646;
}

.nav-item{
font-size: .85em;
}

.jumbotron{
   
    color: #464646;
    font-family: 'Lobster Two', cursive;
    border-radius: 0;
    background:  #A2EBC1; 
    padding: 40px 20px;
    text-shadow: 2px 0px 1px black;
    font-size: 2.1em;
}

.img-panel{
    width: 100%;
}
.img-panel-vert{
    width:75%;
}
.carousel-item{
    max-height: 90vh;
    background: black;
}

.wrapper{
    
    width: 98%;
    margin:auto;
}

#header-img{
    padding: 0;
}

#gallery-link{
    color: #A2EBC1;
}

