*{
    margin: 0;
    padding:0;
}

body
{
    background: rgb(12, 55, 94)
}

p{
    color: white; 
}   
      
.container{
    border: solid rebeccapurple;
    color: white;
    margin: 0; 
    padding: 0;
    margin: auto;
    
}

.col{
    border: solid yellow;
}
.col-sm-6
{
    border:solid yellow;
}

.img-start{
    border: solid #2afeb7;
    margin 0;
    padding 0; 
    margin auto;
}

.welcome-text{
font-size: 1.5em;
font-family: 'Raleway', sans-serif; 
}

.nav{
    width: 100px;
}

#headline{
    font-family: 'Lobster Two', cursive;
    font-size: 3em;
}
#start-btn{
 
 background: #00000000;
 border: #2afeb7 solid;
 color: #2afeb7;
 padding: 15px;
 border-radius: 10px;
 
}

#start-btn:hover{

    background: #2afeb7;
    color: rgba(28,38,47,1); 
}





