*{
    margin: 0;
    padding:0;
}

body
{
 background:#464646;
 font-size: 1.5em;
}

p{
    color: #464646; 
}   
      
.container{
    border: solid rebeccapurple;
    color: white;
    margin: 0; 
    padding: 0;
    margin: auto;
    
}

.col{
    border: solid yellow;
}
.col-sm-6
{
    border:solid yellow;
}


.welcome-text{

font-family: 'Raleway', sans-serif; 
}

.header-text
{
    background: #A2EBC1;
}
.welcome-text-box{
    background: #eeeeee;
}


.nav{
    width: 100px;
}

#headline{
    font-family: 'Lobster Two', cursive;
    font-size: 1.5em;
}
#start-btn{
 
 background: #00000000;
 border: #464646 solid;
 color: #464646;
 padding: 15px;
 border-radius: 10px;
 margin-top: 50px;
}

#start-btn:hover{

    background: #464646;
    color: white; 
}





