\\#A2EBC1
\\#464646
*{
    margin: 0;
    padding:0;
}

body{
    background: cornsilk;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif; 
}



.jumbotron{
   
    color: #464646;
    font-family: 'Lobster Two', cursive;
    border-radius: 0;
    background:  #A2EBC1; 
    font-size: 1.3em;
    padding: 40px 20px;
    margin:0;
}

.nav-item{
    font-size: .78em;
    }

input, label{
    margin: 10px;
}

#nature-link{
    color:#A2EBC1;
}