\\#A2EBC1
\\#464646
*{
    margin: 0;
    padding:0;
}

body{
    background: white;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif; 
}

a:hover{
    text-decoration: none;
    color:#464646;
}
a{
    color:#464646;
}

.jumbotron{
   
    color: #464646;
    font-family: 'Lobster Two', cursive;
    border-radius: 0;
    background:  #A2EBC1; 
    padding: 40px 20px;
    margin:0;
    text-shadow: 2px 0px 1px black;
    font-size: 2.1em;
}

.nav-item{
    font-size: .85em;
    }

input, label{
    margin: 10px;
}

#people-link{
    color:#A2EBC1;
}
a:hover{
    text-decoration: none;
    color:#464646;
}
a{
    color:#464646;
}